* {
    margin: 0;
    padding: 0;
    border: none;
}

.breadcrumb-button {
    margin-top: 221px;
    margin: 20px;
    padding-top: 106px;
    background-color: #FFFFFF;
}

.breadcrumb ol {
    background-color: #FFFFFF;
}

.breadcrumb li {
    font-size: 20px;
    color: #191919;
}

.breadcrumb-button h1 {
    display: block;
    text-align: center;
}

.so-ket-qua-hien-thi {
    font-size: 25px;
    margin-left: 30%;
}

.khoi-danh-muc-lon {
    display: flex;
    flex-direction: row;
}

.danh-muc-san-pham {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-danh-muc {
    border-bottom: 4px dotted#6b98a9;
    font-size: 25px;
    float: left;
}

.hien-thi-list-sp {
    width: 130px;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
}