{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css\trangChu.css' %}">
    <link rel="stylesheet" href="{% static 'css/sanPham.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Trang chủ</title>
    <style>
        body {
            width: 100%;
            position: relative;
        }
    </style>


</head>

<body>
    <!-- HEADER -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light header-color fixed-top" style="width: 100%;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid content-navbar">
                <div class="col-sm-4">
                    <a class="navbar-brand" href="{% url 'Trangchu' %}">
                        <img class="logo-header" src="..\img\logo.jpg" alt="error">
                    </a>
                </div>
                <div class="col-sm-6" style="border-right: 2px solid black; padding-left: 70px;float:left">
                    <div class="button-header">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active button-header-hover-li">
                                    <a class="nav-link" href="{% url 'Trangchu' %}">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                        <span class="sr-only">(current)</span>
                                        Trang chủ
                                    </a>
                                </li>
                                <li class="nav-item active button-header-hover-li">
                                    <a class="nav-link" href="#Ở đây chúng tôi có ....">
                                        <i class="fas fa-list" aria-hidden="true"></i>
                                        Danh mục
                                    </a>
                                </li>

                                <li class="nav-item active button-header-hover-li">
                                    <a class="nav-link" href="#Best seller">
                                        <i class="fab fa-hotjar"></i>
                                        Best seller
                                    </a>
                                </li>

                                <li class="nav-item dropdown active button-header-hover-li">
                                    <a class="nav-link" href="{% url 'sanpham' %}" id="navbarDropdown">
                                        <i class="fab fa-product-hunt"></i>
                                        Sản phẩm
                                    </a>
                                    <div class="dropdown-content">
                                        <a class="dropdown-item" style="border: 2px solid black;" href="#">Khẩu
                                            trang</a>
                                        <a class="dropdown-item" style="border: 2px solid black;" href="#">Xà phòng
                                            - Nước rửa tay</a>
                                        <a class="dropdown-item" style="border: 2px solid black;" href="#">Máy lọc
                                            không khí</a>
                                        <a class="dropdown-item" style="border: 2px solid black;" href="#">Đồ bảo
                                            hộ</a>
                                        <a class="dropdown-item" style="border: 2px solid black;" href="#">Nhiệt
                                            kế</a>
                                        <a class="dropdown-item" style="border: 2px solid black;" href="#">Nước xúc
                                            miệng</a>
                                        <a class="dropdown-item" style="border: 2px solid black;" href="#">Thực phẩm
                                            chức năng</a>
                                        <a class="dropdown-item" style="border: 2px solid black;" href="#">Dung dịch
                                            khử khuẩn</a>
                                    </div>
                                </li>
                                <li class="nav-item active button-header-hover-li">
                                    <a class="nav-link" href="#Tin tức">
                                        <i class="fas fa-newspaper    "></i>
                                        Tin tức
                                    </a>
                                </li>
                                <li class="nav-item active button-header-hover-li">
                                    <a class="nav-link" href="#Liên hệ">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        Liên hệ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 icon-navbar">
                    <li class="nav-item dropdown active button-header-hover-li">
                        <a class="nav-link" href="{% url 'sanpham' %}" id="navbarDropdown">
                            <i style="color: black;" class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                    <a href="trangChuafterlogin.html">
                        <i style="color: black;" class="fas fa-search" style="margin-left: 15px;">
                        </i>
                    </a>
                    <div style="margin-left: 15px;width:10px;height:10px">
                        <button id="myBtn" style="background-color: white;">
                            <i class="fas fa-user-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- login đăng ký đăng nhập -->
    <div class="container-fluid"
        style="margin-top:100px;
        background-image: url(https://img5.goodfon.com/wallpaper/nbig/d/eb/roses-flowers-bottle-simple-background-pink-background-artwo.jpg);">
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab"></label>
                <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab" checked>Đăng
                    ký</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="card nt-4">
                            <div class="card">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="group">
                                        <input id="check" type="checkbox" class="check" checked>
                                    </div>
                                    <div class="group">
                                        <input type="submit" class="button" value="Đăng ký">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="group">
                                <label for="{{ form.username.id_for_label }}" class="label">Username</label>
                                <td>
                                    {{ form.username }}
                                </td>
                            </div>
                            <div class="group">
                                <label for="{{ form.password.id_for_label }}" class="label">Password</label>
                                <td>
                                    {{ form.password}}
                                </td>

                            </div>
                            <div class="group">
                                <label for="{{ form.email.id_for_label }}" class="label">Email Address</label>
                                <td>
                                    {{ form.email}}
                                </td>

                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="Đăng ký">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>