{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css\trangChu.css' %} ">
    <link rel="stylesheet" href="{% static 'css\sanPham.css' %} ">
    <link rel="stylesheet" href="{% static 'css/footer.css' %} ">
    <link rel="stylesheet" href="{% static 'css\filterPrice.css' %} ">
    <title>Trang chủ</title>
    <title>Sản phẩm</title>
    <style>
        body {
            position: relative;
        }
    </style>
</head>

<body style="font-family: 'Hind Siliguri', sans-serif;color: #071434;" data-spy="scroll" data-target=".navbar"
    data-offset="50">
    <!-- HEADER -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light header-color fixed-top" style="width: 100%;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid content-navbar">
                <div class="col-sm-4">
                    <a class="navbar-brand" href="{% url 'trangchu' %}">
                        <img class="logo-header" src="{% static 'img\logo.jpg' %}" alt="error">
                    </a>
                </div>
                <div class="col-sm-6" style="border-right: 2px solid black; padding-left: 70px;">
                    <div class="button-header">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active button-header-hover-li">
                                    <a class="nav-link" href="{% url 'trangchu' %}">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                        <span class="sr-only">(current)</span>
                                        Trang chủ
                                    </a>
                                </li>
                                <li class="nav-item active button-header-hover-li">
                                    <a class="nav-link" href="#Flash sale">
                                        <i class="fas fa-percentage"></i>
                                        Flash sale
                                    </a>
                                </li>

                                <li class="nav-item active button-header-hover-li">
                                    <a class="nav-link" href="#Best seller">
                                        <i class="fab fa-hotjar"></i>
                                        Siêu rẻ
                                    </a>
                                </li>

                                <li class="nav-item dropdown active button-header-hover-li">
                                    <a class="nav-link" href="{% url 'sanpham' %}" id="navbarDropdown">
                                        <i class="fab fa-product-hunt"></i>
                                        Sản phẩm
                                    </a>
                                    <div class="dropdown-content">
                                        <a class="dropdown-item" href="#">Khẩu
                                            trang</a>
                                        <a class="dropdown-item" href="#">Xà phòng
                                            - Nước rửa tay</a>
                                        <a class="dropdown-item" href="#">Máy lọc
                                            không khí</a>
                                        <a class="dropdown-item" href="#">Đồ bảo
                                            hộ</a>
                                        <a class="dropdown-item" href="#">Nhiệt
                                            kế</a>
                                        <a class="dropdown-item" href="#">Nước xúc
                                            miệng</a>
                                        <a class="dropdown-item" href="#">Thực phẩm
                                            chức năng</a>
                                        <a class="dropdown-item" href="#">Dung dịch
                                            khử khuẩn</a>
                                    </div>
                                </li>
                                <li class="nav-item active button-header-hover-li">
                                    <a class="nav-link" href="#Tin tức">
                                        <i class="fas fa-newspaper    "></i>
                                        Tin tức
                                    </a>
                                </li>
                                <li class="nav-item active button-header-hover-li">
                                    <a class="nav-link" href="#Liên hệ">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        Liên hệ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 icon-navbar">
                    <li class="nav-item dropdown active button-header-hover-li">
                        <a class="nav-link" href="{% url 'giohang' %}" id="navbarDropdown">
                            <i style="color: black;" class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                    <a href="">
                        <i style="color: black;" class="fas fa-search">
                        </i>
                    </a>

                    <div class="dropdown" style="margin-left:-8px">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            <i class="fas fa-user-ninja" style="margin-left: 20px;"></i>
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation" style="margin: 10px">
                                <a role="menuitem" tabindex="-1" href="{% url 'user' %}">
                                    <p style="color:black">
                                        <i class="fas fa-user-shield"></i>
                                        Thông tin
                                    </p>
                                </a>
                            </li>
                            <li role="presentation" style="margin: 10px">
                                <a role="menuitem" tabindex="-1" href="giohang">
                                    <p style="color:black">
                                        <i class="fas fa-clipboard-list"></i>
                                        Đơn hàng
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
    </div>

    <!-- Content -->
    <div class="container" style="margin-bottom: 200px">
        <!--  Breadcrumb -->
        <nav aria-label="breadcrumb" class="breadcrumb-button">
            <ol class="breadcrumb" style="background-color: white;border-bottom: 1px solid rgba(0, 0, 0, 0.219) ;">
                <li class="breadcrumb-item"><a style="color: rgba(0, 0, 0, 0.479)" href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a style="color: rgba(0, 0, 0, 0.479)" href="#">Sản phẩm</a></li>
                <li class="breadcrumb-item"><a style="color: black" href="#">Giá thấp đến cao</a></li>
            </ol>
            <h1 style="color: #071434;font-weight: bold;font-size: 50px;">
                Sản phẩm
            </h1>
        </nav>

        <!-- Thanh search and sort -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <form class="form-inline my-2 my-lg-0" style="margin-right: 30px">
                    <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm sản phẩm"
                        aria-label="Search" style="width: 200px; border-radius: 5px;" name="search">
                    <button class="btn btn-outline-dark my-2 my-sm-0">Search</button>
                </form>
                <div class="dropdown">
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sắp xếp theo
                    </button> -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Giá từ cao đến thấp</a>
                        <a class="dropdown-item" href="#">Giá từ thấp đến cao</a>
                        <a class="dropdown-item" href="#">Số điểm đánh giá</a>
                    </div>
                </div>
                <div class="so-ket-qua-hien-thi">
                    <h4>
                        Hiển thị {{h}}  kết quả tìm kiếm
                    </h4>
                </div>
            </nav>
        </div>

         <!-- Danh muc -->
         <div class="container" style="margin-top:50px; margin-bottom:50px">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <h4 style="font-weight: bold;text-align: center; margin-top: 10px; margin-bottom: 30px;">
                        Danh mục sản phẩm
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">

                            <button style="background-color: white;" type=" submit" value="Tất cả" form="systemForm"
                                name="system">
                                <a style="color: black;" href="{% url 'sanpham' %} "> Tất cả </a> </button>

                        </li>
                        <form method="post" id="systemForm">
                            {% csrf_token %}
                            {% for item in lsp %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">

                                <button style="background-color:  white" type="submit" value="{{item.name}}"
                                    form="systemForm" name="system">
                                    <a style="color: black;" href="{% url 'loc_loaisp' item.id %} "> {{item.name}} </a>
                                </button>

                            </li>
                            {% endfor %}
                        </form>
                    </ul>
                </div>
                <!--  Hiển thị sản phẩm -->

                <div class="col-sm-8 col-md-9">
                    <!-- Filters -->
                    <ul class="shop__sorting">
                        <li><a href="{% url 'sanpham' %}">Mới nhất</a></li>
                        <li><a href="{% url 'diemcao' %}">Điểm cao nhất</a></li>
                        <li class="active"><a href="{% url 'tangdan' %}">Giá thấp đến cao</a></li>
                        <li><a href="{% url 'giamdan' %}">Giá cao đến thấp</a></li>
                    </ul>

                    <div class="row">
                        {% for item in page_obj %}
                        <div class="col-md-4 col-sm-6">
                            <div class="product-grid4">
                                <div class="product-image4">
                                    <a href="#">
                                        <img style="width:200px;height:200px" class="pic-1" src="{{item.anhsp.url}}">
                                        <img style="width:200px;height:200px" class="pic-2" src="{{item.anhsp.url}}">
                                    </a>
                                    <ul class="social">
                                        <li><a href="{% url 'sanphamcuthe' item.id %}"  data-tip="Chi tiết"><i
                                                    class="fa fa-eye"></i></a></li>
                                        <li><a href="{% url 'cart_add' item.id  'sanpham' %}" data-tip="Thêm vào giỏ">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        </a>
                                        </li>
                                    </ul>
                                    <span class="product-new-label">MỚI</span>
                                    <span class="product-discount-label">-10%</span>
                                </div>
                                <div class="product-content">
                                    <h1 class="title"><a href="#"> {{item.tensp }}</a></h1>
                                    <div class="price">
                                        {{ item.gia }} VNĐ
                                        <span>{{ item.gia}} VNĐ</span>
                                    </div>
                                    <a style="color:#071434" href="{% url 'cart_add' item.id 'tanggian' %}">+ Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="pagination" style="margin-left: 50%;margin-top:20px">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                <a href="?page=1">
                                    <button class="btn btn-outline-danger">
                                        &laquo; first
                                    </button>

                                </a>
                                <a href="?page={{ page_obj.previous_page_number }}">
                                    <button class="btn btn-outline-danger">
                                        previous
                                    </button>
                                </a>
                                {% endif %}

                                <span class="current" style="font-weight: bold;">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>

                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">
                                    <button class="btn btn-outline-danger">
                                        next
                                    </button>
                                </a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">
                                    <button class="btn btn-outline-danger">
                                        last &raquo;
                                    </button>
                                </a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div> <!-- / .col-sm-8 -->
            </div> <!-- / .row -->
        </div>
    </div>

        <!-- List icon -->
        <div class="container" style="border-top: 1px solid rgba(0, 0, 0, 0.158);margin-top: 50px;">
            <div class="roww">
                <div class="columnn">
                    <div class="cardd">
                        <img style="width: 100px;height: 100px;"
                            src="https://designrshub-designrshub.netdna-ssl.com/wp-content/uploads/2012/10/12_boat_logo_design.png"
                            alt="">
                    </div>
                </div>
                <div class="columnn">
                    <div class="cardd">
                        <img style="width: 100px;height: 100px;"
                            src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30155755/346.png" alt="">
                    </div>
                </div>
                <div class="columnn">
                    <div class="cardd">
                        <img style="width: 100px;height: 100px;"
                            src=" https://images-platform.99static.com//wUy5ZlUtT2QfIhcE8FdJIe3X7go=/0x0:2000x2000/fit-in/500x500/99designs-contests-attachments/108/108292/attachment_108292669"
                            alt="">
                    </div>
                </div>
                <div class="columnn">
                    <div class="cardd">
                        <img style="width: 100px;height: 100px;"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9Q28oEAorAbjCzryfu9739MgdjtPuBWNOUA&usqp=CAU"
                            alt="">
                    </div>
                </div>
                <div class="columnn">
                    <div class="cardd">
                        <img style="width: 100px;height: 100px;"
                            src="http://imgs.abduzeedo.com/files/articles/logo-design-work-paulius-kairevicius/633c22f2fb140ce225123d0dd02147c5.png"
                            alt="">
                    </div>
                </div>
                <div class="columnn">
                    <div class="cardd">
                        <img style="width: 100px;height: 100px;"
                            src="https://designrshub-designrshub.netdna-ssl.com/wp-content/uploads/2012/10/12_boat_logo_design.png"
                            alt="">
                    </div>
                </div>
                <div class="columnn">
                    <div class="cardd">
                        <img style="width: 100px;height: 100px;"
                            src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30155755/346.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Liên hệ -->
        <div id="Liên hệ">
            <footer class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h6>VỀ CHÚNG TÔI</h6>
                            <p class="text-justify">besafe.com - <i>SHOPPING AN TOÀN MÙA DỊCH </i> là một website
                                mua
                                sắm
                                nổi
                                tiếng lâu đời và có truyền thống bán các sản phẩm y tế. Mùa dịch COVID-19, nhu cầu
                                mua
                                sắm
                                vật
                                tư y tế ngày càng cao, hãy mua chúng tôi, vì chúng tôi luôn đáp ứng những nhu cầu
                                tốt
                                nhất
                                của
                                bạn. Luôn có những đợt giảm giá siêu khuyến mãi hấp dẫn oke la chưa</p>
                            <p>
                                Điện thoại: 0123456789
                            </p>
                            <p>Email: besafe.com</p>
                            <p>Địa chỉ: 144 Xuân Thủy Cầu Giấy</p>
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <h6>Danh mục</h6>
                            <ul class="footer-links">
                                <li><a href="http://scanfcode.com/category/c-language/">Khẩu trang</a></li>
                                <li><a href="http://scanfcode.com/category/front-end-development/">Nước rửa tay</a>
                                </li>
                                <li><a href="http://scanfcode.com/category/back-end-development/">Nhiệt kế</a></li>
                                <li><a href="http://scanfcode.com/category/java-programming-language/">Máy lọc không
                                        khí</a>
                                </li>
                                <li><a href="http://scanfcode.com/category/c-language/">Nhiệt kế</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-6 col-md-3">
                            <h6>PHÍM TẮT</h6>
                            <ul class="footer-links">
                                <li><a href="{% url 'Trangchu' %}">Trang chủ</a></li>
                                <li><a href="{% url 'Trangchu' %}">Danh mục</a></li>
                                <li><a href="{% url 'Trangchu' %}">Best seller</a></li>
                                <li><a href="{% url 'Trangchu' %}">Sản phẩm</a></li>
                                <li><a href="{% url 'Trangchu' %}">Tin tức</a></li>
                                <li><a href="{% url 'Trangchu' %}">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <p class="copyright-text">Copyright &copy; 2018 All Rights Reserved by
                                <a href="{% url 'Trangchu' %}">Thao Hoa Company</a>.
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
        <script src="{% static 'js\filterPrice.js' %} "></script>

        <script>
            var list = document.getElementsByClassName("themvaogio")
            for (let index = 0; index < list.length; index++) {
                list[index].onclick = function () {
                    alert("Bạn đã thêm thành công một sản phẩm vào giỏ hàng")
                    return false
                }
            }
        </script>
</body>

</html>